<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<!-- <img src="img/icons/logo.svg" class="DemoHeader-logo"/> -->
				<img src="img/icons/duke.png" class="DemoHeader-logo" ui-sref="app.landing" />
				<div layout="row" layout-align="center stretch" hide-xs>
					<a class="DemoHeader-link md-subhead" href="">Servicii</a>
					<a class="DemoHeader-link md-subhead" href="">Contact</a>
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>
