<div class="Page-Container Landing iOS-hack">
	<div layout="column" class="Landing-cover" layout-align="center center">
		<h1 class="md-display-3 Landing-heading"><strong>Duke Logistics</strong> <!-- <span class="Landing-headingLight">depozit frigorific de 5 stele</span> --></h1>
		<div class="md-headline Landing-subtitle">Site in re-constructie</div>
		<!-- <md-button class="md-raised md-large Landing-getStarted" href="https://laravel-angular.readme.io/docs/install" target="_blank">Get Started</md-button> -->
	</div>

	<!-- <div class="Landing-laravelAngular">
		<div class="Landing-ampersand" hide show-gt-sm>&amp;</div>
		<div layout="column" layout-gt-sm="row">
			<div flex="50" class="Landing-laravel" layout-align="center center">
				<h2 class="md-display-2 Landing-laravelAngular-title">Laravel</h2>
				<div class="md-title Landing-laravelAngular-subtitle">Response macros integrated with your Angular app</div>
				<br/>
				<div class="DemoCode">
					<span class="DemoCode-operator">&lt;?php</span><br/>
					<br/>
					<span class="DemoCode-highlight">class</span> <span class="DemoCode-secondary">PostsController</span><br/>
					{<br/>
					<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;public <span class="DemoCode-secondary">function</span> <span class="DemoCode-highlight">get</span>()<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;{<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-secondary">$posts</span> = <span class="DemoCode-highlight">App</span>\<span class="DemoCode-highlight">Post</span>::<span class="DemoCode-secondary">get</span>();<br/>
					<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">return</span> <span class="DemoCode-secondary">response</span>()<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;<span class="DemoCode-secondary">success</span>(compact(<span class="DemoCode-string">'posts'</span>));<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
					}
					<br/>
					<br/>
				</div>
			</div>
			<div flex="50" class="Landing-angular" layout-align="center center">
				<h2 class="md-display-2 Landing-laravelAngular-title">Angular</h2>
				<div class="md-title Landing-laravelAngular-subtitle">Query your API without worrying about validations</div>
				<br/>
				<div class="DemoCode">
					<span class="DemoCode-secondary">Class</span> <span class="DemoCode-highlight">PostsController</span>(API) {<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">constructor</span>(API){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-string">'ngInject'</span>;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.API = API<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
					<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">getPosts</span>(){<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.API.all(<span class="DemoCode-string">'posts'</span>).get()<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.then((<span class="DemoCode-secondary">response</span>) => {<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">this</span>.posts = <span class="DemoCode-highlight">response.data</span>;<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
					}<br/>
					<br/>
				</div>
			</div>
		</div>
	</div> -->

	<div class="Landing-features" layout-align="center center">
		<h1 class="md-display-2 Landing-featuresMainTitle">Ce oferim</h1>
		<div class="md-title Landing-featuresMainDescription">
			The right features to get you started
		</div>
		<br/>
		<div>
			<div layout="column" layout-gt-sm="row" layout-align="space-between">
				<div flex="100" flex-gt-sm="50">
					<div class="Landing-featuresEntry Landing-featuresEntry--depozitare">
						<md-icon md-svg-src="/img/icons/package-for-delivery.svg" class="Landing-featuresEntry-icon"></md-icon>
					</div>
					<div class="md-headline Landing-featuresTitle">Depozitare</div>
					<div class="md-subhead Landing-featuresDescription">Cel mai modern si mai nou depozit frigorific din Capitala, construit la standard European si finalizat in 2010</div>
				</div>
				<div flex="50">
					<div class="Landing-featuresEntry Landing-featuresEntry--servicii">
						<md-icon md-svg-src="/img/icons/packages-transportation-on-a-truck.svg" class="Landing-featuresEntry-icon"></md-icon>
					</div>
					<div class="md-headline Landing-featuresTitle">Servicii</div>
					<div class="md-subhead Landing-featuresDescription">Oferim garantia unor servicii logistice ce beneficiaza de un raport optim intre pret, calitate si eficienta</div>
				</div>
			</div>

			<div layout="column" layout-gt-sm="row" layout-align="space-between">
				<div flex="100" flex-gt-sm="50">
					<div class="Landing-featuresEntry Landing-featuresEntry--certificare">
						<md-icon md-svg-src="/img/icons/clipboard-verification-symbol.svg" class="Landing-featuresEntry-icon"></md-icon>
					</div>
					<div class="md-headline Landing-featuresTitle">Certificare</div>
					<div class="md-subhead Landing-featuresDescription">Depozitul este autorizat si certificat pentru comertul intracomunitar, detinand stampila de identificare ovala D140</div>
				</div>
				<div flex="50">
					<div class="Landing-featuresEntry Landing-featuresEntry--facilitati">
						<md-icon md-svg-src="/img/icons/boxes-piles-stored-inside-a-garage-for-delivery.svg" class="Landing-featuresEntry-icon"></md-icon>
					</div>
					<div class="md-headline Landing-featuresTitle">Facilitati</div>
					<div class="md-subhead Landing-featuresDescription">Depozitul este construit conform normelor europene din domeniu, beneficiind de o tehnologie avansata pentru pastrarea in conditii optime a produselor congelate sau refrigerate.</div>
				</div>
			</div>
		</div>
		<br/>
		<br/>
	</div>
</div>
